@tailwind base;
@tailwind components;
@tailwind utilities;


p, a {
  font-family: var(--font-worksans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-anton);
  letter-spacing: 1px;
}
body {
  color: var(--foreground);
  background: var(--background);
}

  
@layer base {
  :root {
    --primary: #ff4655;
    --white: #fafafa;
    --off-white: #ece8e1;
    --gray: #6aa2b8;
    --yellow: #eaeeb2;
    --green: #77ecc7;
    --navy: #0F1923;
  }}